.question
  .question-title
    = link_to truncate(question.title, length: 100), question
  .question-info
    = pluralize(question.answers.count, 'answer')
  .question-body
    = truncate(question.body, length: 30)
  .question-date
    %span
      posted on:
      = question.created_at.to_formatted_s(:long)
      by ...
