.row
  .span8
    %h1 Ask a question
    = render 'question_form'

    %h1 All questions
    - if @questions.any?
      = render @questions
    - else
      %h3 No questions have been posted yet.
    = will_paginate @questions
  .span4
    %h1 Temporary placeholder


