.row
  .span8
    .question-form
      = render 'question_form'
    .row
      .span5
        .question-list
          %h2 List of all questions
          - if @questions.any?
            = render @questions
          - else
            .block-notice
              No questions have been posted yet.
          = will_paginate @questions




