%h1
  = @question.title
%p
  = @question.body

%h3 Answer this question
= render 'answers/answer_form'

%ul
  - if has_answers?(@question)
    = render @question.answers
  - else
    %h3 Be firstone .


