%li
  = answer.body
  %ul
    - render_comments_for(answer) do |c|
      %li
        = c.body
  /= render partial: 'comments/comment_form', object: @comment, locals: {answer: answer}

  / - if has_comments?(answer)
  /   = render answer.comments
