// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'bootstrap';

.comments {
  padding: 5px 0;

  .comment {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
  }

  .highlight {
    background-color: #F7F7F7;
  }

  .comment-content {
    font-size: 14px;
  }



}


