// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';


.controls {
  margin-left: 0px!important;
}

#question_title {
  width: 330px;
}

.question-form {
  border-radius: 10px;
}

.question-list {


  .question {
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px dotted gray;

    .question-date {
      font-size: small;
      color: grey;

      .user-name {
        text-decoration: underline;
        font-size: 14px;
        font-weight: bold;
      }

    }

    .question-title {
      font-size: 20px;
      margin-bottom: 5px;
    }

    .question-info {
      font-size: small;
      color: #F2575F;
    }

  }

}

.full-question {

  .date {
    text-transform: uppercase;
    font-size: small;
    color: gray;
    margin-bottom: 20px;
  }

  .question-author {
    font-size: 16px;
    color: gray;
    margin-top: 20px;
    text-decoration: underline;
  }

  .question-body {
    font-size: 18px;
  }

}

